<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Pizza-rest-app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/dishes">Dania</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/drinks">Napoje</a>
      </li>
    </ul>
  </div>
  <a class="btn btn-info" appChangeText style="color: white" routerLink="/purchase">{{purchaseSummary | number : '1.2-2'}}</a>
</nav>
