<table class="table" *ngIf="products.length != 0; else noPurchases">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Produkt</th>
    <th scope="col">Cena</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngFor="let product of products; let i = index">
  <th scope="row">{{i+1}}</th>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>
    <button class="btn btn-danger" (click)="onDelete(i)">X</button>
  </td>
  </tbody>
  <button class="btn btn-success" routerLink="/delivery">Złóż zamówienie</button>
</table>
<ng-template #noPurchases><h3>Koszyk jest pusty!</h3></ng-template>
