<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by category
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Pizza</a>
        <a class="dropdown-item" href="#">Spaghetti</a>
        <a class="dropdown-item" href="#">Lasagna</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-dish *ngFor="let dishElement of dishes; let i = index;" [dish]="dishElement" [dishId]="i"></app-dish>
  </div>
</div>


