<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Sort by category
      </button>
      <div class="dropdown-menu">
        <div *ngIf="filterCategory && filterCategory!==0">
          <a class="dropdown-item" (click)="setCategory(0)" style="cursor: pointer">Resetuj</a>
          <div class="dropdown-divider"></div>
        </div>
        <a class="dropdown-item " (click)="setCategory(1)" style="cursor: pointer">Pizza</a>
        <a class="dropdown-item" (click)="setCategory(2)" style="cursor: pointer">Spaghetti</a>
        <a class="dropdown-item" (click)="setCategory(3)" style="cursor: pointer">Lasagne</a>
        <a class="dropdown-item" (click)="setCategory(4)" style="cursor: pointer">Risotto</a>
        <a class="dropdown-item" (click)="setCategory(5)" style="cursor: pointer">Ravioli</a>
        <a class="dropdown-item" (click)="setCategory(6)" style="cursor: pointer">Piadina</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row" *ngIf="dishes; else spinner">
  <div class="col-md-12">
    <app-dish *ngFor="let dishElement of dishes | dishCategory:filterCategory" [dish]="dishElement"
              [dishId]="dishElement.id - 1"></app-dish>
  </div>
</div>
<ng-template #spinner>
  <div class="col-md-12 loader"></div>
</ng-template>
