<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by category
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item " (click)="setCategory(2)" style="cursor: pointer">Pizza</a>
        <a class="dropdown-item" (click)="setCategory(5)" style="cursor: pointer">Spaghetti</a>
        <a class="dropdown-item" (click)="setCategory(1)" style="cursor: pointer">Risotto</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <app-dish *ngFor="let dishElement of dishes | dishCategory:filterCategory; let i = index" [dish]="dishElement" [dishId]="i"></app-dish>
  </div>
</div>


